@import './plugins/bootstrap.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**
    @variables
*/
@link-strong: #fff;
@btn_color: #4b4b4b;
@sans_font:'Open Sans', sans-serif;
@roboto_font:'Roboto', sans-serif;
@merri_font: 'Merriweather',serif;
@raleway_font: 'Montserrat', sans-serif;
body{
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
a{
     text-decoration: none !important;
}
section{
    padding-top: 30px;
    padding-bottom: 60px;
}
.h-section{
	font-family: @roboto_font;
    font-size: 28px;
    font-weight: 400;
    padding: 30px 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
	font-weight: bold;
    &:after{
        content: '';
        display: block;
        width: 55px;
        height: 2px;
        background-color: #fff;
        margin: 20px 0px;
    }
}
.btn-template-main{
    text-transform: uppercase;
//    background-color: #fff; 
    border:3px solid #fff;
    color:#fff;
    font-weight: bold;
    position: relative;
    z-index: 2;
    transition: 0.3s;
    padding: 15px 30px;
    position: relative;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		left: 0;
		transition: 0.3s;
		top: 0;
	}
	&:hover{
		border-color: #e03f3f;
		color: #e03f3f;
	}
	&:hover:before{
		box-shadow: 0px 0px 10px 30px #ffffff;
		opacity: 0;
	}
}
.menu-row{
    margin: 0;
    background-color: rgba(40, 40, 40, 0.84);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
    .logo{
        line-height: 70px;
        text-align: center;
        img{
            width:45px;
            display: inline-block;
        }
        .logo-title{
            font-size: 25px;
            display: inline-block;
            padding-left: 20px;
			font-family: @raleway_font;
            font-weight: bold;
            color: #fff;
            line-height: 74px;
            text-transform: uppercase;
        }
    }
    .menu{
        padding-left: 30px;
        ul{
            margin-bottom: 0;
            li{
                margin-bottom: 0;
                margin: 0;
                float: left;
                transition: 0.3s;
				&.active a{
					color: #e03f3f;
				}
                a{
                    padding: 0px 20px;
                    display: block;
                    line-height: 75px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 11px;
                    text-decoration: none;
                    color: @link-strong;
					font-family: @merri_font;
                  
                }
               &:hover{
                    background-color: #2a2a2a;
                }
            }
        }
    }
}
header{
    #slider-main{
        overflow: hidden;
        height: 700px;
		padding: 0 !important;
        figure{
            height: 700px;
			padding: 0 !important;
			margin: 0;
            background-size: cover;
            position: relative;
            .bg-overlay{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 0;
            }
            .desc{
                text-align: center;
                position: absolute;
                width: 100%;
                position: relative;
                z-index: 3;
                top: 30%;
                .pre-header{
                    color: #fff;
                    font-weight: lighter;
                    font-size: 14px;
					margin-top: 40px;
                }
                h1{
                    margin-top: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 50px;
					font-family: @raleway_font; 
                    color: #fff;
                    margin-bottom: 0;
                    position: relative;
                    z-index: 1;
                }
                p{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 300;
                    width: 60%;
					margin: 0 auto;
                    position: relative;
					padding: 40px 0px;
                    z-index: 1;
                }
                .desc-container{
                    width: 60%;
                    display: inline-block;
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 45%;
                        height:450px;
                        top: -20px;
                        left: 50%;
                        z-index: 0;
                        margin: 0px -22.5%;
                        border:20px solid rgba(180, 149, 67, 0.56);
                    }
                    .btn-template-main{
                        display: inline-block;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
.categories{
   background:url('../img/projects%20(1).jpg') center/cover;
	position: relative;
	.bg-overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(36, 36, 36, 0.9);
	}
	.container{
		position: relative;
		z-index: 1;
	}
    .h-section{
        color: #fff;
    }
    p.desc{
        color: #bebebe;
        font-size: 14px;
        font-family: @sans_font;
        font-weight: 400;
        line-height: 24px;
        width: 60%  ;
    }
    .category-list {
        padding: 40px 0px;
    article{
         
        a{
            position: relative;
             display: block;
            overflow: hidden;
            img{
                z-index: 0;
                display: block;
                transition: 0.4s all ease;
            }
            .desc{
                position: absolute; 
                top: 0;
                opacity: 0;
                transition: 0.2s all ease;
                left: 0;
                width: 100%;
                height: 100%;  
                z-index: 2;
                background-color: rgba(252, 143, 57, 0.75);
                text-align: center;
                h4{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.5s all ease;
                    letter-spacing: 5px;
                    opacity: 0;
                    transform: translateY(500%)
                }
                i{
                    height: 30px;
                    transition: 0.7s all ease;
                    width: 30px;
                    line-height: 28px;
                    color: #d1d1d1;
                    border:1px solid #d1d1d1;
                    border-radius: 50%;
                    opacity: 0;
                    transform: translateY(450%);
                    &:hover{
                        border-color:#fff;
                        color: #fff;
                    }
                }
                &:hover h4{
                    transform: translateY(250%);
                    opacity: 1;
                }
                &:hover i{
                    transform: translateY(200%);
                    opacity: 1;
                }
            }
            &:hover .desc{
                opacity: 1;
            }
            &:hover img{
                transform: scale(1.2);
            }
        }
    }
    }
}